#biodata{
    padding-top: 5rem;
    background-image: url(img/img1.jpg);
    background-size: 100%;
    -webkit-text-fill-color: azure;
    text-shadow: 3px 2px 1px black;
}

.profile{
    padding-bottom: 2rem;
    text-align: center;
}

#pekerjaan .row{
    margin-bottom: 10px;
}
#datadiri{
    background-color: #A2D9FF;
    
}

.footer{
    background-color: #dc3545;
    -webkit-text-fill-color: aliceblue;
    text-shadow: 3px 2px 1px;
    padding: 5px 15px 1px;
}